body,
div,
h1,
h2,
h3,
h4,
h5,
p {
  text-align: center;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  --dark1: rgb(255, 238, 0);
  --light1: white;
  --dark2: rgb(238, 255, 0);
  --light2: rgb(0, 0, 0);
  background-color: var(--light1);
  color: var(--dark1);
  background-image: url("background.png");
  background-size: cover;
}

button {
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--dark2);
}

input {
  display: block;
  width: 95%;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.5em;
  border: none;
  border-bottom: 2px solid var(--dark2);
  outline: none;
  margin: 5px;
}

label {
  font-weight: bold;
  font-size: 1.1em;
}

.small {
  font-size: small;
  font-weight: normal;
}

/* Characters */
#charactersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

#charactersList div {
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--dark2);
  border-radius: 5px;
  color: var(--dark2);
  background-color: var(--light2);
  font-weight: bold;
}

/* Character page */
h1#name {
  text-align: center;
  margin: 50px;
}

h1#pName{
  text-align: center;
  margin: 50px;
}

#generalInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 20px;
}

#generalInfo p {
  padding: 20px;
  margin: 10px;
  color: var(--dark2);
  background-color: var(--light2);
}

#generalInfo span {
  font-weight: bold;
  font-size: 1.1em;
}

section#planets,
section#characters,
section#films {
  margin: 50px;
}

section#planets ul,
section#characters ul,
section#films ul {
  list-style-type: none;
  padding: 0;
}

section#planets a,
section#characters a,
section#films a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1em;

  background-color: var(--light2);
  color: var(--dark2);
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid var(--dark2);
}


.worldInfo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 20px;
}

.worldInfo p{
  padding: 20px;
  margin: 10px;
}

.worldInfo span {
  font-weight: bold;
  font-size: 1.1em;
  font-family: Verdana, sans-serif;
}

/* Styling for film.html */
#film-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#film-title {
  font-size: 2em;
}

#film-info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#film-info div {
  width: fit-content;
  padding: 20px;
  margin: 10px;
  color: var(--dark2);
  background-color: var(--light2);
}

#film-info > div > span {
  font-weight: bold;
}

#characters-container,
#planets-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#characters-container a,
#planets-container a {
  text-decoration: none;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--dark2);
  border-radius: 5px;
  color: var(--dark2);
  background-color: var(--light2);
  font-weight: bold;
}
